body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
}

header {
    margin-top: 30px;
    background-color: #fcd703;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fcd703;
}

.button_search {
    color: #fcd703;
    background-color: black;
}

.apply-filters {
    width: 100%; 
    padding: 10px;
    background-color: #fcd703;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


button:hover {
    opacity: 0.9;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.search-bar {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    margin: 0 50px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}


main {
    display: flex;
    padding: 20px;
    align-items: start;
}

.books {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 20px;
    padding-left: 20px;
}

.book-tile {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.book-image {
    width: 90%;
    height: 60%;
    position: relative;
}

.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.book-image .hover-img {
    opacity: 0;
}

.book-tile:hover .hover-img {
    opacity: 1;
}

.book-tile:hover .default-img {
    opacity: 0;
}

.book-title {
    font-weight: bold;
    margin: 10px 0 5px;
}

.book-price {
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.add-to-cart {
    background-color: #fcd703;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: auto;
}

.add-to-cart:hover {
    background-color: yellow;
}


.filters {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.filter-group {
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}


.filter-group label {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
    display: block;
}

.filter-group input[type="checkbox"] {
    margin-right: 5px;
}

.filter-group label input {
    margin-bottom: 5px;
    vertical-align: middle;
}

.filter-group label:not(:first-child) { 
    font-weight: normal;
    font-size: 14px;
}

.add-book-form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.add-book-form h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}

.add-book-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.add-book-form input,
.add-book-form select,
.add-book-form button {
    width: calc(100% - 16px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}


.add-book-form input[type="file"] {
    border: none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}

.cancel-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%; 
    padding: 0px;
    background-color: rgb(220, 33, 33);
    color: white;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: rgb(255, 62, 62);
}

footer {
    background-color: #fcd703;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
